.prev_button {
  position: absolute;
  border: none;
  background: none;
  background-image: url(../../../assets/img/slider_left.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  left: 0;
  border: none;
  height: 100%;
  width: 64px;
  align-items: center;
}

.prev_button:hover {
  background: rgba(14, 194, 97, 0.2);
  background-image: url(../../../assets/img/slider_left.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.next_button {
  position: absolute;
  right: 0;
  border: none;
  background: none;
  background-image: url(../../../assets/img/slider_right.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  width: 64px;
  align-items: center;
}

.next_button:hover {
  background: rgba(14, 194, 97, 0.2);
  background-image: url(../../../assets/img/slider_right.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.slide_1 {
  height: 100vh;
  background: none;
  background-image: url('../../../assets/img/slide_1_pic.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.slide_2 {
  height: 100vh;
  background: none;
  background-image: url('../../../assets/img/slide_2_pic.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.slide_3 {
  height: 100vh;
  background: none;
  background-image: url('../../../assets/img/slide_3_pic.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.slide_4 {
  height: 100vh;
  background: none;
  background-image: url('../../../assets/img/slide_4_pic.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.content {
  margin-top: 237px;
  margin-left: 96px;
  margin-right: 96px;
}

.title {
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 8px;
}

.description {
  font-family: Roboto;
  color: #EEEEEE;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 32px;
}

.slider_1_button {
  padding: 0;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background: linear-gradient(to right, #13493F, #0C7B1B);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  width: 154px;
  height: 48px;
}

.slider_1_button:hover {
  background: linear-gradient(to right, #0F3831, #085412);
}

.slider_1_button:active {
  background: linear-gradient(to right, #0B2824, #07450F);
}

.slider_2_button {
  padding: 0;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background: linear-gradient(to right, #132949, #0C7B67);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  width: 154px;
  height: 48px;
}

.slider_2_button:hover {
  background: linear-gradient(to right, #10223D, #0A6152);
}

.slider_2_button:active {
  background: linear-gradient(to right, #0F2038, #08493E);
}

.slider_3_button {
  padding: 0;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background: linear-gradient(to right, #493013, #7B0C3B);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  width: 154px;
  height: 48px;
}

.slider_3_button:hover {
  background: linear-gradient(to right, #3C2810, #610A2F);
}

.slider_3_button:active {
  background: linear-gradient(to right, #2C1E0C, #4A0824);
}

.slider_4_button {
  padding: 0;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background: linear-gradient(to right, #281349, #720C7B);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  width: 154px;
  height: 48px;
}

.slider_4_button:hover {
  background: linear-gradient(to right, #1F0F38, #5A0A61);
}

.slider_4_button:active {
  background: linear-gradient(to right, #190C2C, #440849);
}
