.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  margin: 0;
  font-family: Roboto;
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  letter-spacing: 0em;
}

.phone {
  text-decoration: none;
  font-family: Roboto;
  color: #121212;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  letter-spacing: 0em;
}

.phone:hover {
  color: #121212;
}

.phone:active {
  color: #0EC261;
}

@media (max-width: 767px) {
  .footer {
    height: 72px;
    padding: 16px;
    flex-direction: column-reverse;
    align-items: flex-end;
    background-color: #151B1F;
  }

  .badge {
    color: #EEEEEE;
  }

  .phone {
    color: #0EC261;
  }

  .phone:hover {
    color: #0EC261;
  }
  
  .phone:active {
    color: #0EC261;
  }
}
