.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  margin: 0;
  font-family: Roboto;
  color: #999999;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.23px;
  letter-spacing: 0em;
  text-align: left;
}

.phone {
  text-decoration: none;
  font-family: Roboto;
  color: #121212;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.23px;
  letter-spacing: 0em;
  text-align: left;
}

.phone:hover {
  color: #121212;
}

.phone:active {
  color: #0EC261;
}

@media (min-width: 1px) and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: stretch;
    background-color: #151B1F;
    height: 72px;
  }

  .badge {
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: right;
    color: #EEEEEE;
    margin: 0;
    margin-bottom: 6px;
    margin-right: 16px;
  }

  .phone {
    text-decoration: none;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: right;
    color: #0EC261;
    margin: 0;
    margin-top: 6px;
    margin-right: 16px;
  }
  
  .phone:hover {
    color: #121212;
  }
  
  .phone:active {
    color: #0EC261;
  }
}
